
<div class="row" *ngIf="vehicle">
 <div class="col-md-3">
  <img [src]="vehicle.vehicleImage"alt=""class="img-fluid">  
 </div>   
</div>
<div class="row">
 <div class="col-md-6">
  <h4>{{vehicle.vehiclecompany}} {{vehicle.vehivleName}}</h4>  
  <p>{{vehicle.vehicleDescription}}</p>
  <p><span class="badge bg-primary">{{vehicle.rating}}<i class="fa fa-stars"></i></span></p>
 </div>
<div class="col-md-6">
 <h4>price:{{vehicle.vehicleprice}}</h4> 
<button class="btn btn-primary"data-bs-target="# mymodel"data-bs-toggle="modal"(click)="openModal(vehicle)">"Book Now<i class="fa fa-check"></i></button>
<button class="btn btn-warning"(click)="addtowishlist(vehicle)">Wishlist<i class="fa-solid fa-heart"></i></button>
</div>
</div>
<div class="modalfade"id="mymodel">
 <div class="modal-dialog">
 <div class="modal-content">
  <div class="modal-header">
  <h3>orderNow</h3> 
  <button class="btn-close".data-bs-dismiss="modal"></button>
  </div>  
  <div class="modal-body">
  <!-- <form action="">
<div class="form-group">
  <label for=""class="form-label">vehicleName</label> 
  <input type="text"class="form-control"name="vname" [(ngModel)]="ordervehicle.vehicleName" disabled=""> 
</div>
<div class="form-group">
    <label for=""class="form-label">vehicle price</label> 
    <input type="text" class="form-control"name="vprice" [(ngModel)]="ordervehicle.vehiclePrice" disabled=""> 
  </div>
  <div class="form-group">
    <label for=""class="form-label">username</label> 
    <input type="text" class="form-control" name="uname" [(ngModel)]="uname"> 
  </div>
  <div class="form-group">
    <label for=""class="form-label"></label> 
    <textarea name="adr" id="" [(ngModel)]="uaddress"></textarea>
  </div>
  <div class="form-group">
    <label for=""class="form-label">Time</label> 
    <input type="text" class="form-control"name="uname" [(ngModel)]="utime"> 
  </div>
  <div class="form-group"> 
<button class="btn btn-success"type="submit">order</button>
  </div>
  </form>   -->
  </div>
 </div>   
 </div>   
</div>